@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600);
@import url(https://fonts.googleapis.com/css?family=Rozha+One);

@viewport {
  width: device-width ;
  zoom: 1.0 ;
}
h1{
  padding-top: 150px;
  text-align: center;
  font-family: 'Rozha One', serif;
  font-size: 45px;
}
* {
  box-sizing: border-box;
  background-color: #fff;
  font-family: "Open Sans", sans-serif;
}
.book-cover { /*This is the book's cover*/
  display: block;
  margin: 30 auto;
  width: 100px;
  -webkit-transform: translateX(-30px);
          transform: translateY(-30px);
}

.entry { /*This is the card margin/padding/shadow*/
  margin: 20px 20px;
  padding: 10px 110px; /* this controls where the padding is inside(where box aligns)*/
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.21);
  border: 3px solid #000000;
}
.entry:before { /*This is the number box*/
  content: attr(nyt-rank);
  font-family: 'Rozha One', serif;
  font-size: 3rem;
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  padding: 0px 0px; /*space between number & box*/
  text-align: center;
  -webkit-transform: translate(-100px);
          transform: translate(-100px);
  border: 4px solid #000000;
  background-color: white;

  color: black;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.21);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.21);
}

#best-seller-titles {

  margin: 120px auto;
}
#best-seller-titles a {
  margin: 0px ;
  text-decoration: none;
  color: #2b90d9;
  line-height: 0.2;
}
#best-seller-titles h1, #best-seller-titles h2, #best-seller-titles h3, #best-seller-titles h4 {
  color: #282c37;
}
#best-seller-titles p {
  color: #333030;
  line-height: 1.4;
}
#best-seller-titles .publisher {
  color: #333030;
}
#best-seller-titles .stats hr {
  opacity: 0.5;
}
#best-seller-titles .stats p {
  color: #282c37;
}

#masthead {
  position: fixed;
  top: 0;
  left: 0;
  background: #FFF;
  z-index: 9999;
  width: 100%;
  padding: 10px;
  box-shadow: 0px 1px 5px 0px #777;
  transition: 200ms;
}
#masthead img {
  transition: 100ms;
}
/* Grid styles -------------------------------------------------*/
/* @media screen and (min-width:850px) {
  #best-seller-titles{
    grid-template-columns: 1fr;
  }
} */
@media screen and (min-width:750px) {
  #best-seller-titles {
    max-width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
}
